.Archive h1{
    text-align: center;
}

.record-list {
  max-width: 400px;
  margin: 20px auto;
}

.record-row {
  display: flex;
  justify-content: space-between; /* Puts space between the two items */
  align-items: center;            /* Vertically centers them */
  padding: 10px;
  margin-bottom: 8px;
}

.record-date {
  background-color: #f0f0f0;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 500;
  flex: 1;                 /* Gives this column 1 "part" of the space */
  text-align: center;        /* Aligns text to the left */
}

.record-status {
  flex: 2;                 /* Gives this column 2 "parts" of the space */
  text-align: left;        /* Aligns text to the left */
  padding-left: 20px;
  font-weight: 500;
}

.nutrition-record {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.food-details {
  margin-top: 20px;
  width: 100%;
  margin: 40px auto;
  align-items: center;
}

.food-details p {
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 2px solid #f0f0f0;
  padding-bottom: 10px;
  text-align: center;
}

.food-row {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  gap: 15px;
  padding: 12px 5px; 
  align-items: center;
  text-align: center;
}

.food-row span {
  font-size: 0.9rem;
  color: black;
}

.food-name {
  font-weight: bold;
  color: #000;
  min-width: 120px; 
}

.food-gram{
  text-align: center;
}

.status-pie {
  width: 250px;   
  height: 400px;
  margin: auto;
}

