/* Footer Styles */

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #d3d3d3;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.footer-link {
  flex: 1;
  text-decoration: none;
  color: #333;
  text-align: center;
}

.footer-item {
  font-size: 14px;
  padding: 10px;
}

.footer-link:hover .footer-item {
  background-color: #bbb;
}

