.xp-container {
  margin-bottom: 10px;
}

.xp-bar-bg {
  background: #eee;
  width: 200px;
  margin: auto;
  border-radius: 6px;
}

.xp-bar-fill {
  height: 12px;
  background: #6fa3ef;
  border-radius: 6px;
}

.mid-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-top: 20px;
  gap: 25px;
}

.goal-bar-bg {
  background: #eee;
  width: 120px;
  height: 8px;
  border-radius: 4px;
}

.goal-bar-fill {
  background: #6fa3ef;
  height: 8px;
  border-radius: 4px;
}

#date-top-right {
  position: absolute;
  top: 10px;
  right: 20px;
  margin: 0;
  font-size: 0.9rem;
}
